input {
  border-style: solid;
  border-color: black;
  width: 200px;
  height: 30px;
  margin: 5px;
  font-size:20px;
}

button{
 font-size:25px;
 width: 45px;
 margin: 5px;
}

.calculator {
  width: fit-content;
  border-style: solid;
  border-color: black;
}